/*font*/
.fwN{font-weight:normal;}
.fwB{font-weight:bold;}
.f12{font-size:0.750em;}
.f14{font-size:0.875em;}
.f16{font-size:1.000em;}
.f18{font-size:1.125em;}
.f20{font-size:1.250em;}
.f24{font-size:1.500em;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.f18px{font-size:18px;}
.f20px{font-size:20px;}
.f24px{font-size:24px;}
/*box model*/
.mAuto{margin:auto;}
.mAutoLR{margin-top:auto;margin-right:auto;}
.m30{margin:30px;}
.m20{margin:20px;}
.m15{margin:15px;}
.m10{margin:10px;}
.m5{margin:5px;}
.m0{margin:0px!important;}
.m30_0{margin:30px 0;}
.m20_0{margin:20px 0;}
.m15_0{margin:15px 0;}
.m10_0{margin:10px 0;}
.m5_0{margin:5px 0;}
.m0_30{margin:0 30px;}
.m0_20{margin:0 20px;}
.m0_15{margin:0 15px;}
.m0_10{margin:0 10px;}
.m0_5{margin:0 5px;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.mt_30{margin-top:-30px;}
.mt_20{margin-top:-20px;}
.mt_15{margin-top:-15px;}
.mt_10{margin-top:-10px;}
.mt_5{margin-top:-5px;}
.mr30{margin-right:30px;}
.mr20{margin-right:20px;}
.mr15{margin-right:15px;}
.mr10{margin-right:10px;}
.mr5{margin-right:5px;}
.mr_30{margin-right:-30px;}
.mr_20{margin-right:-20px;}
.mr_15{margin-right:-15px;}
.mr_10{margin-right:-10px;}
.mr_5{margin-right:-5px;}
.mb30{margin-bottom:30px;}
.mb20{margin-bottom:20px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb5{margin-bottom:5px;}
.mb_30{margin-bottom:-30px;}
.mb_20{margin-bottom:-20px;}
.mb_15{margin-bottom:-15px;}
.mb_10{margin-bottom:-10px;}
.mb_5{margin-bottom:-5px;}
.ml30{margin-left:30px;}
.ml20{margin-left:20px;}
.ml15{margin-left:15px;}
.ml10{margin-left:10px;}
.ml5{margin-left:5px;}
.ml_30{margin-left:-30px;}
.ml_20{margin-left:-20px;}
.ml_15{margin-left:-15px;}
.ml_10{margin-left:-10px;}
.ml_5{margin-left:-5px;}
.border{border:1px solid #e2e2e2;}
.border_0{border:0 none;}
.border_t{border-bottom:1px solid #e2e2e2;}
.border_r{border-bottom:1px solid #e2e2e2;}
.border_b{border-bottom:1px solid #e2e2e2;}
.border_l{border-bottom:1px solid #e2e2e2;}
.border_r3{border-radius:3px;}
.border_r5{border-radius:5px;}
.border_r8{border-radius:8px;}
.border_r10{border-radius:10px;}
.border_Circle{border-radius:500px;}
.p30{padding:30px;}
.p20{padding:20px;}
.p15{padding:15px;}
.p10{padding:10px;}
.p5{padding:5px;}
.p0{padding:0px!ipportant;}
.p30_0{padding:30px 0;}
.p20_0{padding:20px 0;}
.p15_0{padding:15px 0;}
.p10_0{padding:10px 0;}
.p5_0{padding:5px 0;}
.p0_30{padding:0 30px;}
.p0_20{padding:0 20px;}
.p0_15{padding:0 15px;}
.p0_10{padding:0 10px;}
.p0_5{padding:0 5px;}
.pt30{padding-top:30px;}
.pt20{padding-top:20px;}
.pt15{padding-top:15px;}
.pt10{padding-top:10px;}
.pt5{padding-top:5px;}
.pr30{padding-right:30px;}
.pr20{padding-right:20px;}
.pr15{padding-right:15px;}
.pr10{padding-right:10px;}
.pr5{padding-right:5px;}
.pb30{padding-bottom:30px;}
.pb20{padding-bottom:20px;}
.pb15{padding-bottom:15px;}
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;}
.pl30{padding-left:30px;}
.pl20{padding-left:20px;}
.pl15{padding-left:15px;}
.pl10{padding-left:10px;}
.pl5{padding-left:5px;}
.w20{width:20%;}
.w25{width:25%;}
.w33{width:33.33%;}
.w50{width:50%;}
.w100{width:100%;}
.wAuto{width:auto;}
/*layout*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
.posR{position:relative;}
.posA{position:absolute;}
.posF{position:fixed;}
.top0{top:0;}
.top5{top:5px;}
.top10{top:10px;}
.top15{top:15px;}
.top20{top:20px;}
.top30{top:30px;}
.right0{right:0;}
.right5{right:5px;}
.right10{right:10px;}
.right15{right:15px;}
.right20{right:20px;}
.right30{right:30px;}
.bottom0{bottom:0;}
.bottom5{bottom:5px;}
.bottom10{bottom:10px;}
.bottom15{bottom:15px;}
.bottom20{bottom:20px;}
.bottom30{bottom:30px;}
.left0{left:0;}
.left5{left:5px;}
.left10{left:10px;}
.left15{left:15px;}
.left20{left:20px;}
.left30{left:30px;}
.lh30{line-height:30px;}
.lh20{line-height:20px;}
.lh15{line-height:15px;}
.lh10{line-height:10px;}
.dB{display:block;}
.dI{display:inline;}
.dIB{display:inline-block;*display:inline;*zoom:1;}
.oh{overflow:hidden;}
.oh_x{overflow-x:hidden;}
.oh_y{overflow-y:hidden;}
.zToppest{z-index:9999;}
/*color*/
.cWhite{color:#fff;}
.cBlack{color:#000;}
.cRed{color:#f00;}
.bgWhite{background-color:#fff;}
/*other*/